<h1> CREATE NEW USER </h1>
<%= render 'form' %>
<br>
<br>
<h1> EDIT PROFILE </h1>
<form method="get" action="edit">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <input type="submit" value="Search">
</form>
